ENTFramework_SOA/Service Descriptors/DataModel/Schemas/Datatypes/CoreBank/SigMessages/CRIN/V018.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:inc-field="http://www.vietcombank.com/entity/global/backend/vn/as400/message/1.0" xmlns:pref="http://www.vietcombank.com/entity/global/backend/vn/signature/message/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.vietcombank.com/entity/vn/corebank/signature/crin/v018/1.0" xmlns:tns="http://www.vietcombank.com/entity/vn/corebank/signature/crin/v018/1.0">
	<xsd:import namespace="http://www.vietcombank.com/entity/global/backend/vn/as400/message/1.0" schemaLocation="../../Message.xsd"/>
	<xsd:element name="V018I" type="tns:V018IType"/>
	<xsd:complexType name="V018IType">
		<xsd:sequence>
			<xsd:element name="FIXFMTCD" type="inc-field:FieldType"/>
			<xsd:element name="MSCNBR" type="inc-field:FieldType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="V018O" type="tns:V018OType"/>
	<xsd:complexType name="V018OType">
		<xsd:sequence>
			<xsd:element name="CUSTAT" type="inc-field:FieldType"/>
			<xsd:element name="CUALT" type="inc-field:FieldType"/>
			<xsd:element name="CUNA1" type="inc-field:FieldType"/>
			<xsd:element name="CUNA2" type="inc-field:FieldType"/>
			<xsd:element name="CUNA3" type="inc-field:FieldType"/>
			<xsd:element name="CUNA4" type="inc-field:FieldType"/>
			<xsd:element name="CUNA5" type="inc-field:FieldType"/>
			<xsd:element name="CUNA6" type="inc-field:FieldType"/>
			<xsd:element name="CUZIP" type="inc-field:FieldType"/>
			<xsd:element name="CUZIP2" type="inc-field:FieldType"/>
			<xsd:element name="CUZIP3" type="inc-field:FieldType"/>
			<xsd:element name="CUZIP4" type="inc-field:FieldType"/>
			<xsd:element name="CUSHRT" type="inc-field:FieldType"/>
			<xsd:element name="CUSSNR" type="inc-field:FieldType"/>
			<xsd:element name="CUSSTY" type="inc-field:FieldType"/>
			<xsd:element name="CUCLPH" type="inc-field:FieldType"/>
			<xsd:element name="CUHMPH" type="inc-field:FieldType"/>
			<xsd:element name="CUBUPH" type="inc-field:FieldType"/>
			<xsd:element name="CUPOFF" type="inc-field:FieldType"/>
			<xsd:element name="CUSOFF" type="inc-field:FieldType"/>
			<xsd:element name="CUPOF1" type="inc-field:FieldType"/>
			<xsd:element name="CUPOF2" type="inc-field:FieldType"/>
			<xsd:element name="CUOPT" type="inc-field:FieldType"/>
			<xsd:element name="CUTYPE" type="inc-field:FieldType"/>
			<xsd:element name="CUTYP" type="inc-field:FieldType"/>
			<xsd:element name="CUSIC" type="inc-field:FieldType"/>
			<xsd:element name="CUSEX" type="inc-field:FieldType"/>
			<xsd:element name="CURACE" type="inc-field:FieldType"/>
			<xsd:element name="CUOWN" type="inc-field:FieldType"/>
			<xsd:element name="CUYREM" type="inc-field:FieldType"/>
			<xsd:element name="CUINC" type="inc-field:FieldType"/>
			<xsd:element name="CUSRIN" type="inc-field:FieldType"/>
			<xsd:element name="CUBDTE" type="inc-field:FieldType"/>
			<xsd:element name="CUDEP" type="inc-field:FieldType"/>
			<xsd:element name="CUCTC" type="inc-field:FieldType"/>
			<xsd:element name="CUCTCT" type="inc-field:FieldType"/>
			<xsd:element name="CUCIRA" type="inc-field:FieldType"/>
			<xsd:element name="CUMNBR" type="inc-field:FieldType"/>
			<xsd:element name="CUNTID" type="inc-field:FieldType"/>
			<xsd:element name="CUUSR1" type="inc-field:FieldType"/>
			<xsd:element name="CUCLNK" type="inc-field:FieldType"/>
			<xsd:element name="CUUSR3" type="inc-field:FieldType"/>
			<xsd:element name="CUCDCH" type="inc-field:FieldType"/>
			<xsd:element name="CUCDCN" type="inc-field:FieldType"/>
			<xsd:element name="CUCDCD" type="inc-field:FieldType"/>
			<xsd:element name="CUCMCH" type="inc-field:FieldType"/>
			<xsd:element name="CUCMNR" type="inc-field:FieldType"/>
			<xsd:element name="CUCMCD" type="inc-field:FieldType"/>
			<xsd:element name="CUCVSH" type="inc-field:FieldType"/>
			<xsd:element name="CUCVCN" type="inc-field:FieldType"/>
			<xsd:element name="CUCVCD" type="inc-field:FieldType"/>
			<xsd:element name="CUCATH" type="inc-field:FieldType"/>
			<xsd:element name="CUCATN" type="inc-field:FieldType"/>
			<xsd:element name="CUCATD" type="inc-field:FieldType"/>
			<xsd:element name="CUCLNG" type="inc-field:FieldType"/>
			<xsd:element name="CUCCCD" type="inc-field:FieldType"/>
			<xsd:element name="CULGLR" type="inc-field:FieldType"/>
			<xsd:element name="CUCWHP" type="inc-field:FieldType"/>
			<xsd:element name="CUCPSP" type="inc-field:FieldType"/>
			<xsd:element name="CUCTXN" type="inc-field:FieldType"/>
			<xsd:element name="CUCPRF" type="inc-field:FieldType"/>
			<xsd:element name="CUSHKY" type="inc-field:FieldType"/>
			<xsd:element name="CUITLD" type="inc-field:FieldType"/>
			<xsd:element name="CUPSTL" type="inc-field:FieldType"/>
			<xsd:element name="CUPSLC" type="inc-field:FieldType"/>
			<xsd:element name="CUACOM" type="inc-field:FieldType"/>
			<xsd:element name="CUBRCH" type="inc-field:FieldType"/>
			<xsd:element name="CUMIDT" type="inc-field:FieldType"/>
			<xsd:element name="CUMRTS" type="inc-field:FieldType"/>
			<xsd:element name="CUMAIL" type="inc-field:FieldType"/>
			<xsd:element name="CUSOLI" type="inc-field:FieldType"/>
			<xsd:element name="CUSOCI" type="inc-field:FieldType"/>
			<xsd:element name="CUCPNA" type="inc-field:FieldType"/>
			<xsd:element name="CUBPNA" type="inc-field:FieldType"/>
			<xsd:element name="CUPERS" type="inc-field:FieldType"/>
			<xsd:element name="CUSALU" type="inc-field:FieldType"/>
			<xsd:element name="CUFAX" type="inc-field:FieldType"/>
			<xsd:element name="CUTELX" type="inc-field:FieldType"/>
			<xsd:element name="CUTXAN" type="inc-field:FieldType"/>
			<xsd:element name="CUDOCF" type="inc-field:FieldType"/>
			<xsd:element name="CUDCDT" type="inc-field:FieldType"/>
			<xsd:element name="CUTINU" type="inc-field:FieldType"/>
			<xsd:element name="CUTADT" type="inc-field:FieldType"/>
			<xsd:element name="CUWPRT" type="inc-field:FieldType"/>
			<xsd:element name="CUCECD" type="inc-field:FieldType"/>
			<xsd:element name="CUCELM" type="inc-field:FieldType"/>
			<xsd:element name="CUEXTF" type="inc-field:FieldType"/>
			<xsd:element name="CUMTND" type="inc-field:FieldType"/>
			<xsd:element name="CUCNCD" type="inc-field:FieldType"/>
			<xsd:element name="CUMARK" type="inc-field:FieldType"/>
			<xsd:element name="CUEMPL" type="inc-field:FieldType"/>
			<xsd:element name="CUINQ" type="inc-field:FieldType"/>
			<xsd:element name="CUMNT" type="inc-field:FieldType"/>
			<xsd:element name="CUCENS" type="inc-field:FieldType"/>
			<xsd:element name="CUCODT" type="inc-field:FieldType"/>
			<xsd:element name="CUDEDT" type="inc-field:FieldType"/>
			<xsd:element name="CUSOOD" type="inc-field:FieldType"/>
			<xsd:element name="CUCLFN" type="inc-field:FieldType"/>
			<xsd:element name="CULVLA" type="inc-field:FieldType"/>
			<xsd:element name="CUMIDC" type="inc-field:FieldType"/>
			<xsd:element name="CUEXTN" type="inc-field:FieldType"/>
			<xsd:element name="CUBEXT" type="inc-field:FieldType"/>
			<xsd:element name="CUBHVF" type="inc-field:FieldType"/>
			<xsd:element name="CULFSF" type="inc-field:FieldType"/>
			<xsd:element name="CURSPF" type="inc-field:FieldType"/>
			<xsd:element name="CATEXT" type="inc-field:FieldType"/>
			<xsd:element name="CUALNM" type="inc-field:FieldType"/>
			<xsd:element name="CUESTS" type="inc-field:FieldType"/>
			<xsd:element name="CUEMA1" type="inc-field:FieldType"/>
			<xsd:element name="CUEMA2" type="inc-field:FieldType"/>
			<xsd:element name="CUACCD" type="inc-field:FieldType"/>
			<xsd:element name="MSPARS" type="inc-field:FieldType"/>
			<xsd:element name="CUPREF" type="inc-field:FieldType"/>
			<xsd:element name="CUCDAT" type="inc-field:FieldType"/>
			<xsd:element name="CUCTIT" type="inc-field:FieldType"/>
			<xsd:element name="CUCFNM" type="inc-field:FieldType"/>
			<xsd:element name="CUCSNM" type="inc-field:FieldType"/>
			<xsd:element name="CUCLNM" type="inc-field:FieldType"/>
			<xsd:element name="CUCBUS" type="inc-field:FieldType"/>
			<xsd:element name="CUCFNO" type="inc-field:FieldType"/>
			<xsd:element name="CUCHNM" type="inc-field:FieldType"/>
			<xsd:element name="CUCHNO" type="inc-field:FieldType"/>
			<xsd:element name="CUCSTR" type="inc-field:FieldType"/>
			<xsd:element name="CUCDIS" type="inc-field:FieldType"/>
			<xsd:element name="CUCTWN" type="inc-field:FieldType"/>
			<xsd:element name="CUCCTY" type="inc-field:FieldType"/>
			<xsd:element name="CUCCDE" type="inc-field:FieldType"/>
			<xsd:element name="CUCPSL" type="inc-field:FieldType"/>
			<xsd:element name="CUCCMP" type="inc-field:FieldType"/>
			<xsd:element name="CUCZIP" type="inc-field:FieldType"/>
			<xsd:element name="CUCZIS" type="inc-field:FieldType"/>
			<xsd:element name="CUCZP3" type="inc-field:FieldType"/>
			<xsd:element name="CUCZP4" type="inc-field:FieldType"/>
			<xsd:element name="CUCSTA" type="inc-field:FieldType"/>
			<xsd:element name="CUCNTY" type="inc-field:FieldType"/>
			<xsd:element name="CUCATL" type="inc-field:FieldType"/>
			<xsd:element name="CUCAFN" type="inc-field:FieldType"/>
			<xsd:element name="CUCASN" type="inc-field:FieldType"/>
			<xsd:element name="CUCALN" type="inc-field:FieldType"/>
			<xsd:element name="CUCACP" type="inc-field:FieldType"/>
			<xsd:element name="C2MMFG" type="inc-field:FieldType"/>
			<xsd:element name="C2RMFG" type="inc-field:FieldType"/>
			<xsd:element name="C2TKFG" type="inc-field:FieldType"/>
			<xsd:element name="C2TRFG" type="inc-field:FieldType"/>
			<xsd:element name="CULYLTY" type="inc-field:FieldType"/>
			<xsd:element name="CUCNBT" type="inc-field:FieldType"/>
			<xsd:element name="CUDEAL" type="inc-field:FieldType"/>
			<xsd:element name="CUPEP" type="inc-field:FieldType"/>
			<xsd:element name="C1COLL" type="inc-field:FieldType"/>
			<xsd:element name="CUCLNM2" type="inc-field:FieldType"/>
			<xsd:element name="CUCALN2" type="inc-field:FieldType"/>
			<xsd:element name="CUPLNID" type="inc-field:FieldType"/>
			<xsd:element name="WKDTNID" type="inc-field:FieldType"/>
			<xsd:element name="CUPLSSS" type="inc-field:FieldType"/>
			<xsd:element name="WKDTSSS" type="inc-field:FieldType"/>
			<xsd:element name="CUPLTAX" type="inc-field:FieldType"/>
			<xsd:element name="WKDTTAX" type="inc-field:FieldType"/>
			<xsd:element name="CUPLKEY" type="inc-field:FieldType"/>
			<xsd:element name="WKDTKEY" type="inc-field:FieldType"/>
			<xsd:element name="WKRGD8" type="inc-field:FieldType"/>
			<xsd:element name="WKSVBTSTR" type="inc-field:FieldType"/>
			<xsd:element name="CTVTEX" type="inc-field:FieldType"/>
			<xsd:element name="CUEXSSS" type="inc-field:FieldType"/>
			<xsd:element name="CUEXTAX" type="inc-field:FieldType"/>
			<xsd:element name="CUEXNID" type="inc-field:FieldType"/>
			<xsd:element name="CUEXKEY" type="inc-field:FieldType"/>
			<xsd:element name="CUTEN1" type="inc-field:FieldType"/>
			<xsd:element name="CUTEN2" type="inc-field:FieldType"/>
			<xsd:element name="CUUSDP" type="inc-field:FieldType"/>
			<xsd:element name="CUUSID" type="inc-field:FieldType"/>
			<xsd:element name="CUEIG1" type="inc-field:FieldType"/>
			<xsd:element name="C8TEN1" type="inc-field:FieldType"/>
			<xsd:element name="C8FIV1" type="inc-field:FieldType"/>
			<xsd:element name="CUSCL" type="inc-field:FieldType"/>
			<xsd:element name="WKRESCD" type="inc-field:FieldType"/>
			<xsd:element name="CUNBR" type="inc-field:FieldType"/>
			<xsd:element name="CUCODLX" type="inc-field:FieldType"/>
			<xsd:element name="VIPBRCH" type="inc-field:FieldType"/>
			<xsd:element name="CUFIF2" type="inc-field:FieldType"/>
			<xsd:element name="CUFIF3" type="inc-field:FieldType"/>
			<xsd:element name="CUFIF4" type="inc-field:FieldType"/>
			<xsd:element name="CUFIF5" type="inc-field:FieldType"/>
			<xsd:element name="CUTHR15" type="inc-field:FieldType"/>
			<xsd:element name="CUCODLEP" type="inc-field:FieldType"/>
			<xsd:element name="CUCODLEO" type="inc-field:FieldType"/>
			<xsd:element name="CUENA1" type="inc-field:FieldType"/>
			<xsd:element name="CUGNBR" type="inc-field:FieldType"/>
			<xsd:element name="CUCODLHP" type="inc-field:FieldType"/>
			<xsd:element name="CUCODLOP" type="inc-field:FieldType"/>
			<xsd:element name="CUTHR14" type="inc-field:FieldType"/>
			<xsd:element name="CUFNA1" type="inc-field:FieldType"/>
			<xsd:element name="CUFNA2" type="inc-field:FieldType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
