AcctInfo/Resources/WSDL/VRA.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Service" targetNamespace="http://tempuri.org/">
<wsdl:types>
<xsd:schema targetNamespace="http://tempuri.org/Imports">
<xsd:import schemaLocation="http://10.1.137.82:8877/VRA_SML/Service.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
</xsd:schema>
	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:import namespace="http://tempuri.org/"
			schemaLocation="VRA.xsd">
		</xsd:import></xsd:schema></wsdl:types>
<wsdl:message name="IService_VRA_CheckAccount_InputMessage">
<wsdl:part name="parameters" element="tns:VRA_CheckAccount"/>
</wsdl:message>
<wsdl:message name="IService_VRA_CheckAccount_OutputMessage">
<wsdl:part name="parameters" element="tns:VRA_CheckAccountResponse"/>
</wsdl:message>
<wsdl:message name="IService_VRA_GetNewAccountNumber_InputMessage">
<wsdl:part name="parameters" element="tns:VRA_GetNewAccountNumber"/>
</wsdl:message>
<wsdl:message name="IService_VRA_GetNewAccountNumber_OutputMessage">
<wsdl:part name="parameters" element="tns:VRA_GetNewAccountNumberResponse"/>
</wsdl:message>
<wsdl:message name="IService_VRA_CreateNewAccount_InputMessage">
<wsdl:part name="parameters" element="tns:VRA_CreateNewAccount"/>
</wsdl:message>
<wsdl:message name="IService_VRA_CreateNewAccount_OutputMessage">
<wsdl:part name="parameters" element="tns:VRA_CreateNewAccountResponse"/>
</wsdl:message>
<wsdl:message name="IService_VRA_GetAccountInfo_InputMessage">
<wsdl:part name="parameters" element="tns:VRA_GetAccountInfo"/>
</wsdl:message>
<wsdl:message name="IService_VRA_GetAccountInfo_OutputMessage">
<wsdl:part name="parameters" element="tns:VRA_GetAccountInfoResponse"/>
</wsdl:message>
<wsdl:message name="IService_VRA_ActivateAccount_InputMessage">
<wsdl:part name="parameters" element="tns:VRA_ActivateAccount"/>
</wsdl:message>
<wsdl:message name="IService_VRA_ActivateAccount_OutputMessage">
<wsdl:part name="parameters" element="tns:VRA_ActivateAccountResponse"/>
</wsdl:message>
<wsdl:message name="IService_VRA_DeactivateAccount_InputMessage">
<wsdl:part name="parameters" element="tns:VRA_DeactivateAccount"/>
</wsdl:message>
<wsdl:message name="IService_VRA_DeactivateAccount_OutputMessage">
<wsdl:part name="parameters" element="tns:VRA_DeactivateAccountResponse"/>
</wsdl:message>
<wsdl:message name="IService_VRA_LogTransaction_InputMessage">
<wsdl:part name="parameters" element="tns:VRA_LogTransaction"/>
</wsdl:message>
<wsdl:message name="IService_VRA_LogTransaction_OutputMessage">
<wsdl:part name="parameters" element="tns:VRA_LogTransactionResponse"/>
</wsdl:message>
<wsdl:message name="IService_VRA_GetTransactions_InputMessage">
<wsdl:part name="parameters" element="tns:VRA_GetTransactions"/>
</wsdl:message>
<wsdl:message name="IService_VRA_GetTransactions_OutputMessage">
<wsdl:part name="parameters" element="tns:VRA_GetTransactionsResponse"/>
</wsdl:message>
<wsdl:message name="IService_VRA_GetAllVRAccounts_InputMessage">
<wsdl:part name="parameters" element="tns:VRA_GetAllVRAccounts"/>
</wsdl:message>
<wsdl:message name="IService_VRA_GetAllVRAccounts_OutputMessage">
<wsdl:part name="parameters" element="tns:VRA_GetAllVRAccountsResponse"/>
</wsdl:message>
<wsdl:message name="IService_VRA_UpdateStatusTrans_InputMessage">
<wsdl:part name="parameters" element="tns:VRA_UpdateStatusTrans"/>
</wsdl:message>
<wsdl:message name="IService_VRA_UpdateStatusTrans_OutputMessage">
<wsdl:part name="parameters" element="tns:VRA_UpdateStatusTransResponse"/>
</wsdl:message>
<wsdl:portType name="IService">
<wsdl:operation name="VRA_CheckAccount">
<wsdl:input wsaw:Action="http://tempuri.org/IService/VRA_CheckAccount" message="tns:IService_VRA_CheckAccount_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/IService/VRA_CheckAccountResponse" message="tns:IService_VRA_CheckAccount_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="VRA_GetNewAccountNumber">
<wsdl:input wsaw:Action="http://tempuri.org/IService/VRA_GetNewAccountNumber" message="tns:IService_VRA_GetNewAccountNumber_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/IService/VRA_GetNewAccountNumberResponse" message="tns:IService_VRA_GetNewAccountNumber_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="VRA_CreateNewAccount">
<wsdl:input wsaw:Action="http://tempuri.org/IService/VRA_CreateNewAccount" message="tns:IService_VRA_CreateNewAccount_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/IService/VRA_CreateNewAccountResponse" message="tns:IService_VRA_CreateNewAccount_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="VRA_GetAccountInfo">
<wsdl:input wsaw:Action="http://tempuri.org/IService/VRA_GetAccountInfo" message="tns:IService_VRA_GetAccountInfo_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/IService/VRA_GetAccountInfoResponse" message="tns:IService_VRA_GetAccountInfo_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="VRA_ActivateAccount">
<wsdl:input wsaw:Action="http://tempuri.org/IService/VRA_ActivateAccount" message="tns:IService_VRA_ActivateAccount_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/IService/VRA_ActivateAccountResponse" message="tns:IService_VRA_ActivateAccount_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="VRA_DeactivateAccount">
<wsdl:input wsaw:Action="http://tempuri.org/IService/VRA_DeactivateAccount" message="tns:IService_VRA_DeactivateAccount_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/IService/VRA_DeactivateAccountResponse" message="tns:IService_VRA_DeactivateAccount_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="VRA_LogTransaction">
<wsdl:input wsaw:Action="http://tempuri.org/IService/VRA_LogTransaction" message="tns:IService_VRA_LogTransaction_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/IService/VRA_LogTransactionResponse" message="tns:IService_VRA_LogTransaction_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="VRA_GetTransactions">
<wsdl:input wsaw:Action="http://tempuri.org/IService/VRA_GetTransactions" message="tns:IService_VRA_GetTransactions_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/IService/VRA_GetTransactionsResponse" message="tns:IService_VRA_GetTransactions_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="VRA_GetAllVRAccounts">
<wsdl:input wsaw:Action="http://tempuri.org/IService/VRA_GetAllVRAccounts" message="tns:IService_VRA_GetAllVRAccounts_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/IService/VRA_GetAllVRAccountsResponse" message="tns:IService_VRA_GetAllVRAccounts_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="VRA_UpdateStatusTrans">
<wsdl:input wsaw:Action="http://tempuri.org/IService/VRA_UpdateStatusTrans" message="tns:IService_VRA_UpdateStatusTrans_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/IService/VRA_UpdateStatusTransResponse" message="tns:IService_VRA_UpdateStatusTrans_OutputMessage"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="VRA_CheckAccount">
<soap:operation soapAction="http://tempuri.org/IService/VRA_CheckAccount" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="VRA_GetNewAccountNumber">
<soap:operation soapAction="http://tempuri.org/IService/VRA_GetNewAccountNumber" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="VRA_CreateNewAccount">
<soap:operation soapAction="http://tempuri.org/IService/VRA_CreateNewAccount" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="VRA_GetAccountInfo">
<soap:operation soapAction="http://tempuri.org/IService/VRA_GetAccountInfo" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="VRA_ActivateAccount">
<soap:operation soapAction="http://tempuri.org/IService/VRA_ActivateAccount" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="VRA_DeactivateAccount">
<soap:operation soapAction="http://tempuri.org/IService/VRA_DeactivateAccount" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="VRA_LogTransaction">
<soap:operation soapAction="http://tempuri.org/IService/VRA_LogTransaction" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="VRA_GetTransactions">
<soap:operation soapAction="http://tempuri.org/IService/VRA_GetTransactions" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="VRA_GetAllVRAccounts">
<soap:operation soapAction="http://tempuri.org/IService/VRA_GetAllVRAccounts" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="VRA_UpdateStatusTrans">
<soap:operation soapAction="http://tempuri.org/IService/VRA_UpdateStatusTrans" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Service">
<wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
<soap:address location="http://10.1.137.82:8877/VRA_SML/Service.svc"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>