ENTFramework_SOA/Service Descriptors/FundTransferGL2GL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.vietcombank.com.vn/service/global/vn/fundtransfer/fundtransfergl2gl/1.0" xmlns:tns0="http://www.vietcombank.com.vn/global/vn/fundtransfer/fundtransfergl2gl/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FundTransferGL2GL" targetNamespace="http://www.vietcombank.com.vn/service/global/vn/fundtransfer/fundtransfergl2gl/1.0">
  <wsdl:import namespace="http://www.vietcombank.com.vn/global/vn/fundtransfer/fundtransfergl2gl/1.0"/>
  <wsdl:message name="AddRequest">
    <wsdl:part element="tns0:FundTransferGL2GLAddReq" name="inAdd"/>
  </wsdl:message>
  <wsdl:message name="AddResponse">
    <wsdl:part element="tns0:FundTransferGL2GLAddRes" name="outAdd"/>
  </wsdl:message>
  <wsdl:message name="RevRequest">
    <wsdl:part element="tns0:FundTransferGL2GLRevReq" name="inRev"/>
  </wsdl:message>
  <wsdl:message name="RevResponse">
    <wsdl:part element="tns0:FundTransferGL2GLRevRes" name="outRev"/>
  </wsdl:message>
  <wsdl:portType name="FundTransferGL2GL">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddRequest" name="AddInput"/>
      <wsdl:output message="tns:AddResponse" name="AddOutput"/>
    </wsdl:operation>
    <wsdl:operation name="Rev">
      <wsdl:input message="tns:RevRequest"/>
      <wsdl:output message="tns:RevResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FundTransferGL2GLServiceBinding" type="tns:FundTransferGL2GL">
    <soap12:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
    <jms:binding messageFormat="bytes"/>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="Add" soapActionRequired="true" style="document"/>
      <wsdl:input>
        <soap12:body parts="inAdd" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="outAdd" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rev">
      <soap12:operation soapAction="Rev" soapActionRequired="true" style="document"/>
      <wsdl:input>
        <soap12:body parts="inRev" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="outRev" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FundTransferGL2GL">
    <wsdl:port binding="tns:FundTransferGL2GLServiceBinding" name="FundTransferGL2GLSOAP">
      <soap12:address location=""/>
      <jms:connectionFactory>FTQueueConnectionFactory</jms:connectionFactory>
      <jms:targetAddress destination="queue">vn.fundtransfer.ws-fundtransfergl2gl.1.0</jms:targetAddress>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
