ENTFramework/Schemas/DataTypes/Common/SvcEnvelope.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="framework/datatypes/common/serviceenvelope" xmlns:cmd-svrenv="framework/datatypes/common/serviceenvelope" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="MsgHdr_Type">
		<xs:sequence>
			<xs:element name="SvcVersion" type="xs:string" />
			<xs:element name="RqUID" type="xs:string" />
			<xs:element name="ClientDt" type="xs:date" />
			<xs:element name="ClientTime" type="xs:time"/>			
			<xs:element maxOccurs="1" minOccurs="0" name="ChannelId"
				type="xs:string" />
			<xs:element maxOccurs="1" minOccurs="0" name="UserId"
				type="xs:string" />				
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MsgHdr" type="cmd-svrenv:MsgHdr_Type"/>
	<xs:complexType name="ErrorDetail_Type">
		<xs:sequence>
			<xs:element name="ApplicationId" type="xs:string"/>
			<xs:element name="ErrorCode" type="xs:string"/>
			<xs:element name="ErrorDesc" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status_Type">
		<xs:sequence>
			<xs:element name="StatusCode" type="xs:string"/>
			<xs:element minOccurs="0" name="ErrorCode" type="xs:string"/>
			<xs:element minOccurs="0" name="ErrorDesc" type="xs:string"/>
			<xs:element minOccurs="0" name="ErrorDetail" type="cmd-svrenv:ErrorDetail_Type"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BaseMsgHdr_Type">
		<xs:sequence>

			<xs:element ref="cmd-svrenv:MsgHdr"></xs:element>
		</xs:sequence>
	</xs:complexType>

    <xs:element name="Status" type="cmd-svrenv:Status_Type"></xs:element>

    <xs:element name="SvcInfo" type="cmd-svrenv:SvcInfo_Type"></xs:element>

    <xs:complexType name="SvcInfo_Type">
    	<xs:sequence>
    		<xs:element name="SvcName" type="xs:string" minOccurs="0"></xs:element>
    		<xs:element name="OperationName" type="xs:string"
    			minOccurs="0">
    		</xs:element>
    		<xs:element name="Version" type="xs:string" minOccurs="0"></xs:element>
    		<xs:element name="Package" type="xs:string" minOccurs="0"></xs:element>
    	</xs:sequence>
    </xs:complexType>

</xs:schema>
